<script setup lang="ts">
import { Buffer } from "buffer";
import { inflate } from "pako";

const route = useRoute();

type Board = {
  items: string[];
  title: string;
};

const buffer = Buffer.from(
  (route.params.code as string).replaceAll("-", "+").replaceAll("_", "/"),
  "base64"
);
const board = JSON.parse(
  Buffer.from(inflate(buffer)).toString("utf8")
) as Board;

const buttonStates = useState<boolean[]>("buttonStates", () =>
  new Array(25).fill(false)
);
useHead({
  title: board.title,
});
</script>

<template>
  <div
    class="flex flex-col gap-8 w-screen h-screen items-center justify-center"
  >
    <h1 class="text-4xl font-bold">{{ board.title }}</h1>
    <div
      class="grid grid-cols-5 grid-rows-5 p-4 bg-gray-200 rounded-xl gap-4 shadow-lg"
    >
      <button
        v-for="(_, i) in new Array(25)"
        :class="[
          'bg-gray-50 p-4 rounded-lg w-28 aspect-square resize-none text-center text-sm shadow-sm transition-all',
          buttonStates[i] && 'ring ring-red-600',
        ]"
        @click="buttonStates[i] = !buttonStates[i]"
      >
        {{ board.items[i] }}
      </button>
    </div>
  </div>
</template>
