<script setup lang="ts">
import { Buffer } from "buffer";
import { deflate, inflate } from "pako";
import { toCanvas } from "qrcode";

useHead({
  title: "Create a bingo board",
});

type Board = {
  items: string[];
  title: string;
};

const board = useState<Board>("board", () => ({
  items: new Array(25).fill("Empty") as string[],
  title: "Default board",
}));

const canvas = useState<HTMLCanvasElement>("canvas");
const code = useState("code", () => "");

function doBingo() {
  const buffer = Buffer.from(JSON.stringify(board.value), "utf-8");
  const deflated = deflate(buffer);

  code.value =
    window.location.origin +
    "/play/" +
    Buffer.from(deflated)
      .toString("base64")
      .replaceAll("+", "-")
      .replaceAll("/", "_")
      .replaceAll("=", "");
}

watch([code, canvas], ([code, canvas]) => {
  if (!code || !canvas) return;

  toCanvas(canvas, code);
});

const loadedLink = useState("loadedLink", () => "");

function loadFromLink() {
  const splitLink = loadedLink.value.split("/");
  const code = splitLink[splitLink.length - 1];

  const buffer = Buffer.from(
    code.replaceAll("-", "+").replaceAll("_", "/"),
    "base64"
  );
  board.value = JSON.parse(
    Buffer.from(inflate(buffer)).toString("utf8")
  ) as Board;
}

function shuffle() {
  // modern Fisher-Yates shuffle
  const items = board.value.items;
  const n = items.length;
  for (let i = n - 1; i--; i > 0) {
    const j = Math.round(Math.random() * i);
    // swap
    const tmp = items[i];
    items[i] = items[j];
    items[j] = tmp;
  }
}
</script>

<template>
  <div class="mx-auto text-center px-4 py-24 max-w-4xl">
    <h1 class="text-4xl font-bold mb-8">Create a bingo board</h1>

    <div>
      <p class="mb-8 bg-gray-200 inline-block pl-6 pr-2 py-2 rounded-lg shadow">
        <b>Title:</b>
        <input
          class="bg-gray-50 px-4 py-2 rounded-lg ml-4"
          type="text"
          v-model="board.title"
        />
      </p>
    </div>

    <div
      class="inline-grid grid-cols-5 grid-rows-5 p-4 bg-gray-200 rounded-xl gap-4 shadow-lg mx-auto"
    >
      <textarea
        type="text"
        class="bg-gray-50 p-4 rounded-lg w-28 aspect-square resize-none text-center text-sm shadow-sm"
        v-for="(_, i) in new Array(25)"
        v-model="board.items[i]"
      />
    </div>

    <p class="text-center mt-8">
      <button
        class="bg-gray-200 px-6 py-3 rounded-xl shadow font-bold"
        @click="doBingo()"
      >
        Generate
      </button>

      <button
        class="ml-4 bg-gray-200 px-6 py-3 rounded-xl shadow font-bold"
        @click="shuffle()"
      >
        Shuffle
      </button>
    </p>
    <p class="italic my-4">or</p>
    <div>
      <input
        type="text"
        v-model="loadedLink"
        class="bg-gray-200 px-4 py-2 rounded-xl placeholder:text-gray-500"
        placeholder="Play link"
      />
      <button
        class="block mx-auto bg-gray-200 px-5 py-2 text-sm font-bold rounded-xl shadow mt-2"
        @click="loadFromLink()"
      >
        Load from play link
      </button>
    </div>

    <div v-if="code" class="mt-4 p-8 rounded-xl bg-gray-200 shadow-lg">
      <a
        :href="code"
        target="_blank"
        class="text-blue-700 font-bold hover:underline"
      >
        here's the play link
      </a>
      <p>also QR code for sharing:</p>
      <div class="mt-2">
        <canvas
          class="rounded-xl shadow-md inline-block"
          ref="canvas"
          width="0"
          height="0"
        ></canvas>
      </div>
    </div>
  </div>
</template>
