<template>
  <div class="flex flex-col gap-8 w-full h-screen justify-center items-center">
    <h1 class="text-4xl font-bold">omame's bingo thing</h1>
    <NuxtLink
      to="/create"
      class="bg-gray-200 rounded-lg text-center px-6 py-3 font-bold shadow-sm"
    >
      Create a bingo board!
    </NuxtLink>
  </div>
</template>
